@using RegisterSPM.Utility
@model SPM

@{
  ViewData["Active"] = "SPM";
}


<div class="mb-3">
  <h3 class="h3 d-inline align-middle">Persetujuan SPM</h3>
  <h5 class="badge bg-dark text-white ms-2">Form Persetujuan Dokumen SPM</h5>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form id="detail" method="post">
          <div asp-validation-summary="All" class="text-danger"></div>
          <div class="row">
            <div class="col-md-8">
              <input type="hidden" asp-for="Id"/>
              <input type="hidden" asp-for="UnitKey"/>
              <input type="hidden" asp-for="DocStatus"/>
              <input type="hidden" asp-for="CreatedBy"/>
              <input type="hidden" asp-for="CreatedDate"/>
              <input type="hidden" asp-for="VerifiedBy"/>
              <input id="verified-date" type="hidden" asp-for="VerifiedDate"/>
              <input type="hidden" asp-for="ApprovedBy"/>
              <input type="hidden" asp-for="Nilai"/>
              <h4>SPM</h4>
              <hr/>
              <div class="form-group my-2">
                <label asp-for="OPD"></label>
                <textarea asp-for="OPD" class="form-control" readonly cols="3"></textarea>
                <span asp-validation-for="OPD" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label asp-for="NoSPM"></label>
                <textarea asp-for="NoSPM" class="form-control" readonly cols="3"></textarea>
                <span asp-validation-for="NoSPM" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label asp-for="TglSPM"></label>
                <input type="text" asp-for="TglSPM" class="form-control" readonly/>
                <span asp-validation-for="TglSPM" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label asp-for="Keperluan"></label>
                <textarea asp-for="Keperluan" class="form-control" rows="5" readonly></textarea>
                <span asp-validation-for="Keperluan" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label>Nilai</label>
                <input type="text" value="@Model.Nilai.ToString("C")" class="form-control" readonly/>
              </div>
              <div class="form-group my-2">
                <label>Tgl. Pengesahan</label>
                <input type="text" id="date-picker" asp-for="ApprovedDate" value="@Model.ApprovedDate.Value.ToShortDateString()" class="form-control"/>
              </div>
            </div>

            <partial name="_CollaboratorPartial" model="Model"/>
          </div>
        </form>
      </div>
      <div class="card-footer border-top">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <a asp-action="Index" class="btn btn-outline-danger form-control">Batal</a>
              </div>
              <div class="col">
                <button type="submit" form="detail" class="btn btn-primary form-control">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <partial name="_ValidationScriptsPartial"/>
  <script>
    $(function() {
      $("#date-picker").datepicker({
        dateFormat: 'dd/mm/yy'
      });
    });

    $("#selectAll").click(function() {
      $("input[type=checkbox]").prop('checked', $(this).prop('checked'));

    });

    $("#detail").submit(function (event) {
      var createdDate = moment($("#date-picker").val(), "DD/MM/YYYY");
      var verifiedDate = moment($("#verified-date").val(), "DD/MM/YYYY");
      if (createdDate.isBefore(verifiedDate)) {
        swal({
          title: 'Error',
          text: 'Tanggal persetujuan kurang dari tanggal verifikasi!',
          icon: 'error',
          dangerMode: true
        });
        return false;
      };
      return true;
    });
  </script>
}