@using RegisterSPM.Utility
@model SPM

@{
  ViewData["Active"] = "SPM";
}


<div class="mb-3">
  <h3 class="h3 d-inline align-middle">Persetujuan SPM</h3>
  <h5 class="badge bg-dark text-white ms-2">Form Persetujuan Dokumen SPM</h5>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form id="detail" method="post">
          <div class="row">
            <div class="col-md-8">
              <input type="hidden" asp-for="Id" />
              <input type="hidden" asp-for="UnitKey" />
              <input type="hidden" asp-for="DocStatus" />
              <input type="hidden" asp-for="CreatedBy" />
              <input type="hidden" asp-for="CreatedDate" />
              <input type="hidden" asp-for="VerifiedBy" />
              <input type="hidden" asp-for="VerifiedDate" />
              <input type="hidden" asp-for="ApprovedBy" />
              <input type="hidden" asp-for="Nilai" />
              <h4>SPM</h4>
              <hr />
              <div class="form-group my-2">
                <label asp-for="OPD"></label>
                <textarea asp-for="OPD" class="form-control" readonly cols="3"></textarea>
                <span asp-validation-for="OPD" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label asp-for="NoSPM"></label>
                <textarea asp-for="NoSPM" class="form-control" readonly cols="3"></textarea>
                <span asp-validation-for="NoSPM" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label asp-for="TglSPM"></label>
                <input type="text" asp-for="TglSPM" class="form-control" readonly />
                <span asp-validation-for="TglSPM" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label asp-for="Keperluan"></label>
                <textarea asp-for="Keperluan" class="form-control" rows="5" readonly></textarea>
                <span asp-validation-for="Keperluan" class="text-danger"></span>
              </div>
              <div class="form-group my-2">
                <label>Nilai</label>
                <input type="text" value="@Model.Nilai.ToString("C")" class="form-control" readonly />
              </div>
              <div class="form-group my-2">
                <label>Tgl. Pengesahan</label>
                <input type="text" id="date-picker" asp-for="ApprovedDate" value="@Model.ApprovedDate.Value.ToShortDateString()" class="form-control" />
              </div>
            </div>
            
            <div class="col-md-4">
              <h4>Kolaborator</h4>
              <hr/>
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <img src="~/img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                    </div>
                    <div class="col-10 ps-2">
                      <div class="text-dark">Vanessa Tucker</div>
                      <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                      <div class="text-muted small mt-1">15m ago</div>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <img src="~/img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
                    </div>
                    <div class="col-10 ps-2">
                      <div class="text-dark">William Harris</div>
                      <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                      <div class="text-muted small mt-1">2h ago</div>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <img src="~/img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
                    </div>
                    <div class="col-10 ps-2">
                      <div class="text-dark">William Harris</div>
                      <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                      <div class="text-muted small mt-1">2h ago</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer border-top">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <a asp-action="Index" class="btn btn-outline-danger form-control">Batal</a>
              </div>
              <div class="col">
                <button type="submit" form="detail" class="btn btn-primary form-control">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <partial name="_ValidationScriptsPartial"/>
  <script>
    $(function() {
      $("#date-picker").datepicker({
        dateFormat: 'dd/mm/yy'
      });
    });

    $("#selectAll").click(function() {
      $("input[type=checkbox]").prop('checked', $(this).prop('checked'));

    });
  </script>
}