@{
  if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
  {
    Layout = (string) parentLayout;
  }
  else
  {
    
    Layout = "/Views/Shared/_Layout.cshtml";
  }
}

<div>
  <div class="mb-3">
    <h3 class="h3 d-inline align-middle">Setting Akun</h3>
    <h5 class="badge bg-dark text-white ms-2">Konfigurasi profile, otorisasi/otentikasi user</h5>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 mb-3">
          <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
          @RenderBody()
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}