@page "{userId}"
@model ChangePasswordModel
@{
  ViewData["Title"] = "Ubah Password";
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
  <div class="col-md-6">
    <partial name="_StatusMessage" for="StatusMessage"/>
    <form id="change-password-form" method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
      @if (Model.RequiredCurrentPassword)
      {
        <div class="form-group my-2">
          <label asp-for="Input.OldPassword"></label>
          <input asp-for="Input.OldPassword" class="form-control" />
          <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
      }
      else
      {
        <input type="hidden" asp-for="Input.OldPassword" value="@Guid.NewGuid().ToString()" class="form-control" />
      }
      <div class="form-group my-2">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
      </div>
      <div class="form-group my-2">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}