@page "{userId}"
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Hapus Data Personal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-danger" role="alert">
    <p>
      <strong>Anda akan menghapus akun user secara permanen. Klik tombol Hapus Akun jika ingin melanjutkan.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-outline-danger" type="submit">Hapus Akun</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}