@page "{userId}"
@using System.Security.Claims
@model PersonalDataModel
@{
  ViewData["Title"] = "Data Personal";
  ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
  <div class="col-md-6">
    <p>Halaman ini digunakan untuk mengunduh/menghapus data personal user.</p>
    <p>
      <strong>Klik tombol hapus untuk menghapus akun user secara permanen.</strong>
    </p>
    <div class="d-flex">
      <form id="download-data" asp-page="DownloadPersonalData" asp-route-userId="@Model.UserId" method="post" class="form-group">
        <button class="btn btn-primary" type="submit">Unduh</button>
      </form>
      <a id="delete" asp-page="DeletePersonalData" asp-route-userId="@Model.UserId" class="btn btn-outline-danger mx-2">Hapus</a>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}