@model IEnumerable<SPM>
@{
  Layout = "_FullLayout";
}

@* <div class="mb-3"> *@
@*   <h3 class="h3 d-inline align-middle">Lookup SPM</h3> *@
@*   <h5 class="badge bg-dark text-white ms-2">Pilih No. SPM</h5> *@
@* </div> *@
<div class="card">
  @* <div class="card-header"> *@
  @*   <div class="d-flex flex-row"> *@
  @*     <div class="justify-content-end"> *@
  @*       <a class="btn btn-primary"><i class="align-middle" data-feather="plus"></i> <span class="align-middle">Tambah</span></a> *@
  @*     </div> *@
  @*   </div> *@
  @* </div> *@
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <table id="tblData" class="display" width="100%">
          <thead>
          <tr>
            <th>OPD</th>
            <th>UnitKey</th>
            <th>No. SPM</th>
            <th></th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script>
    var dataTable;

    $(document).ready(function() {
      loadDataTable();
    });

    function loadDataTable() {
      dataTable = $('#tblData').DataTable({
        responsive: true,
        data: @Html.Raw(Json.Serialize(Model)),
        columns: [
          { data: 'opd' },
          { data: 'unitKey', visible: false },
          { data: 'noSPM' },
          {
            data: null,
            render: function(data, type, row) {
              return `
            <div class="text-center">
              <a href="/Main/Report/KartuKendali/${row.id}" class="btn btn-success" style="cursor: pointer">
                <i data-feather="edit"></i>
              </a>
            </div>
            `;
            },
            width: '20%'
          }
        ],
        drawCallback: function(settings) {
          feather.replace();
        }
      });
    }
  </script>
}