@model ApplicationUser 
<li class="nav-item dropdown">
  <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
    <i class="align-middle" data-feather="settings"></i>
  </a>

  <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
      <img src="\@Model.ImageUrl" class="avatar img-fluid rounded me-1" alt="\@Model.Nama"/>
    }
    else
    {
      <img src="\img\avatars\default_avatar.png" class="avatar img-fluid rounded me-1" alt="\@Model.Nama"/>
    }
    <span class="text-dark">@Model.Nama</span>
  </a>
  <div class="dropdown-menu dropdown-menu-end">
    <a class="dropdown-item" href="/Identity/Account/Manage/@Model.Id"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
    <a class="dropdown-item" href="/Identity/Account/Manage/ChangePassword/@Model.Id"><i class="align-middle me-1" data-feather="settings"></i> Ubah Password</a>
    <div class="dropdown-divider"></div>
    <form id="logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
      <a class="dropdown-item" href="javascript:document.getElementById('logout').submit()"><i class="align-middle me-1" data-feather="log-out"></i>Log out</a>
    </form>
  </div>
</li>
</li>